body {
  min-height: 1080px;
  padding-top: 50px; /* .navbar height */
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

a {
    color: #578411;
}

.navbar {
    margin-bottom: 0;
}

.navbar--green {
    background-color: #92c13a;
    box-shadow: 0px 0px 5px 0px rgba(57, 77, 25, 1);
    text-shadow: 0px 1px 0px rgb(94, 124, 36);
}

.navbar--green a {
    color: #FCFFF7;
}

.navbar--green .nav>li>a:hover {
    background-color: #7FB222;
}

.navbar--green .nav>li>a:active {
    background-color: #7FB222;
}

.navbar--green .navbar-toggle {
    border-color: #FCFFF7;
}
.navbar--green .icon-bar {
    background-color: #FCFFF7;
}

.nav {
    font-size: 14px;
}

.jumbotron {
    position: relative;
    margin-bottom: 0px;
    background-image:
        linear-gradient(
          rgba(138, 181, 58, 0.3),
          rgba(138, 181, 58, 0.3)
        ),
        url('/img/jumbotronbackground.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #F1FFF2;
    text-shadow: #1E3A23 0.2em 0.2em 0.7em;
    text-align: center;
}

.Section {
    padding: 2em 0;
}

.Section h1 {
    font-size: 2em;
    padding-bottom: 0.2em;
}

.Section h2 {
    font-size: 1.2em;
}

.Section h3 {
    padding-bottom: 0.2em;
}

.Section--primary {
    background-image:
        linear-gradient(
          rgba(138, 181, 58, 0.7),
          rgba(138, 181, 58, 0.7)
        ),
        url('/img/jumbotronbackground.jpg');
    background-position: 0% 25%;
    background-size: cover;
    color: #F1FFF2;
    text-shadow: 1px 1px 1px rgb(94, 124, 36);
}

.Section--secondary {
    background-color: #F7FAF2;
    color: #283710;
}

.Profile-heading {
    margin: 0 0 1em 0;
}

.Profile-photo {
    padding-bottom: 1em;
}

.Blog {
    font-size: 22px;
}

.Blog h1 {
    text-align: center;
}

.Blog p {
    padding-bottom: 30px;
}

/* Tablets and up */
@media (min-width: 768px) {
    .Section {
        padding: 4em 0;
    }

    .Section h1 {
        font-size: 4em;
    }
    .Section h2 {
        font-size: 1.8em;
    }
}

/* ONLY Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar--green .nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
}