body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url('/img/jumbotronbackground.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
